@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  /* dark --prefersdark; */
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Lora", serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4a90dc;
  --color-secondary: #f27e58;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}
/* .btn-grediant {
  background: linear-gradient(120deg, #4a90dc, #f27e58);
  border: none;
  color: white;
}
.btn-grediant:hover {
  background: transparent;
  color: #5c7cea;
  transition: all 0.2s ease-out;
  border: 1px solid #5c7cea;
} */

.liquid-card {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* overflow: hidden; */
}
/* 
.navbar .active {
  color: crimson;
  font-weight: bold;
  border: 1px solid #cac8c8ff;
  border-radius: 20px;
  background: rgb(243, 226, 226);
} */
